/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/atzoss
/public/images
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
**/.DS_Store
/mysql/data
/logs/*.log
/logs/nginx/*.log
/logs/php83/*.log
.env_real
resources/sutest
Dockerfile-alpine
Dockerfile-debian
app/Console/Commands/Test*
docker-compose-mysql.yml
