/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/atzoss
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/.fleet
/.idea
/.vscode
**/.DS_Store
/mysql/data
.env_real
resources/sutest
Dockerfile-alpine
Dockerfile-debian
app/Console/Commands/Test*
docker-compose-mysql.yml
**.log
